$black: #45443f;
$white: #fff;

$color-primary: #2a676b;
$color-primary-light: #f2f6f6;
$color-secondary: #e3c886;
$color-danger: #dc3545;
$color-grey: #8e8d8d;

$border-grey: #90a9a6;
$border-green: #215154;
 
